<form [formGroup]="userForm">

  <mat-form-field class="full-width">
    <input
      matInput
      formControlName="name"
      placeholder="Nom de l'utilisateur"
    >
  </mat-form-field>
  <div class="errorPlaceHolder" *ngIf="name.errors && name.touched">
    Here... Some user errors alerts
  </div>


  <mat-form-field class="full-width">
    <input
      matInput
      type="text"
      formControlName="firstName"
      placeholder="Prénom de l'utilisateur"
    >
  </mat-form-field>

  <div class="errorPlaceHolder" *ngIf="firstName.errors && firstName.touched">
      Here... Some user errors alerts
  </div>

  <mat-form-field class="full-width">
    <input
      matInput
      type="text"
      id="address"
      formControlName="address"
      placeholder="Adresse"
    >
  </mat-form-field>
  <div class="errorPlaceHolder" *ngIf="address.errors && address.touched">
    Here... Some user errors alerts
  </div>

  <mat-form-field class="full-width">
    <input
      matInput
      type="text"
      id="zipCode"
      formControlName="zipCode"
      placeholder="Code postal"
    >

  </mat-form-field>
  <div class="errorPlaceHolder" *ngIf="zipCode.errors && zipCode.touched">
      <p *ngIf="zipCode.errors.required">
        Le code postal est obligatoire
      </p>
      <p *ngIf="zipCode.errors.minlength">
        Le code postal est constitué de 5 chiffres
      </p>
      <p *ngIf="zipCode.errors.maxlength">
        Le code postal est constitué au maximum de 5 chiffres
      </p>
      <p *ngIf="zipCode.errors.pattern">
        Le code postal est constitué de 5 chiffres
        <br>
        CHIIIIIFFFFFFRES
      </p>
  </div>

  <mat-form-field class="full-width">
    <input
      matInput
      type="text"
      id="city"
      formControlName="city"
      placeholder="Ville"
    >

  </mat-form-field>
  <div class="errorPlaceHolder" *ngIf="city.errors && city.touched">
    Here... Some user errors alerts
  </div>

  <mat-form-field class="full-width">
    <input
      matInput
      type="date"
      id="birthDate"
      formControlName="birthDate"
      placeholder="Date de naissance"
    >
  </mat-form-field>
    <div class="errorPlaceHolder" *ngIf="birthDate.errors && birthDate.touched">
      <p *ngIf="!birthDate.errors.isLowerThan">
        La date de naissance doit (forcément...) être inférieure à la date du jour.
      </p>
      <p *ngIf="birthDate.errors.required">
        La date de naissance est obligatoire.
      </p>
    </div>
  <div class="formGroup">
    <button mat-button color="primary" id="add" (click)="submit()" [className]="userForm.invalid ? 'inactive' : ''" [disabled]="userForm.invalid">
      Ajouter
    </button>
  </div>
</form>
