/**
* Defines some colors Bootstrap style
**/

$primary: rgba(2, 117, 216, 1);
$success: rgba(92, 184, 92, 1);
$info: rgba(91, 192, 222, 1);
$warning: rgba(240, 173, 78, 1);
$danger: rgba(217, 83, 79, 1);
$inversed: rgba(41, 43, 44, 1);
$fadded: rgba(247, 247, 247, 1);