<!-- Interpolates controller public attributes -->
<h1>{{ title }}</h1>

<section>
  <ul>
    <li *ngFor="let user of users" [ngClass]="{'row': true, 'closed': user.isAddressHidden, 'opened':!user.isAddressHidden}">
      <div class="col-sm"(click)="toggleStatus(user)">
        <p>{{ user.firstName }} <span >{{ user.lastName | uppercase }}</span></p>
        <p>Né(e) le : {{ user.birthDate | date: 'dd-MM-yyyy' }}</p>
      </div>

      <address [hidden]="user.isAddressHidden" class="col-sm">
          <p>{{ user.address }}</p>
          <p>{{ user.zipCode }} {{ user.city }}</p>
      </address>

      <div class="col-sm">
        <button [disabled]="hasUser()" (click)="loadFormFor(user)">
          <i class="icon-pencil"></i>
        </button>
        <button role="button" [disabled]="hasUser()" (click)="remove(user)">
          <i class="icon-bin"></i>
        </button>
      </div>
    </li>
  </ul>
</section>

<!-- Bouton pour afficher le formulaire de création -->
<button class="btn btn-outline-primary" [disabled]="hasUser()" [routerLink]="['/add']">
  Ajouter
</button>

<!-- Ajouter le composant de mise à jour ? -->
<app-update-user (updateUserEvent)="receiveUser($event)" [userForm]="userForm" [hidden]="!hasUser()"></app-update-user>
