@import "./../../shared/styles/_variables";
mat-grid-list {
    div {
        .wrapper {
            height: 15em;
            &.active {
                background-color: $inversed;
            }
        }
    }
    &.mat-grid-list {
        background-color: $info;
    }
    .mat-grid-tile {
        &.active {
            background-color: $inversed;
            color: $fadded;
        }
    }
}