div {
    span {
        color: hsla(128, 15%, 20%, 1);
    }
}

section {
    a[role="button"] {
        border-radius: 3em;
        background: rgba(0, 0, 204, 0.7);
        padding: 1em;
        color: #fff;
    }
    ul {
        &:first-child {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        li {
            &.closed {
                background: rgba(238, 238, 238, 0.7);
            }
            &.opened {
                background: rgba(119, 119, 119);
            }
            .container {
                display: flex;
                justify-content: flex-start;
                margin-left: 1em;
                &.col {
                    flex-direction: column;
                }
            }
            width: 80%;
            padding: 2em;
            border-radius: .25em;
            margin-bottom: .5em;
            address {
                width: 100%;
            }
        }
    }
}
